
@model Tiger_Tasks.Models.ForumViewModel
@{
    ViewData["Title"] = "Forum";
}

<h1>Forum</h1>

<!-- Button to move user to the create forum page -->
<a asp-action="Create" style=" color: gold; background-color: transparent; border:none; font-weight:bold;">Create New Forum Post</a>
 <!-- Filter Form -->
<form method="get" asp-action="Index">
    <!--Filter by Post Type-->
    <label for="postType" style=" color:gold; font-weight: bold;">Filter by Type:</label>
    <select name="postType" asp-for="SelectedPostType">
        <option value="">All</option>
        <option value="Help Wanted">Help Wanted</option>
        <option value="Help Needed">Help Needed</option>
    </select>
<!--Filter by Service Type -->
    <label for="serviceType" style=" color:gold; font-weight: bold">Filter by Service:</label>
    <select name="serviceType" asp-for="SelectedServiceType">
        <option value="">All</option>
        @foreach (var category in Model.ServiceCategories)
        {
            <option value="@category">@category</option>
        }
    </select>
    <!-- Button to initae filtering(added styling) -->
    <button type="submit" style=" color: gold; background-color: transparent; border: none;">Filter</button>
</form>

<!--Filters Section for Toggle-->
<div class="filters">
    <label for=" serviceType">Service Type</label>
    <div class="toggle">
        <span>Listed as: Help Wanted</span>
        <input type=" checkbox" id="serviceType"/>
        <span>Listed as: Help Offered</span>
    </div>
</div>

<!-- Forum Posts Section-->

<div class=" forum-posts">
    @foreach (var post in Model.ForumPosts) /*Loop*/
    {
        <div class=" post">
            <div class="avatar"></div> <!-- Placeholder for the proifile picture/icon -->
            <div class=" post-details">
                <h3 class=" post-title">@post.Title</h3>
                <p class=" post-type">
                    <strong>@post.Title</strong>- @post.PostType (@post.ServiceType)<br />
                    </p>>
                <p class=" post-content">@post.Content</p>
            </div>>
        </div>
    }
</div>

<!--Add Post Button-->
<div class=" add-post">
    <a asp-action="Create" class=" add-post-button"> + Add Your Own Post!</a>
</div>
</div>>
